@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background: rgb(18, 20, 23);
    color: hsl(0, 0%, 100%);
}

.container1,
.container2 {
    position: absolute;

    background: hsl(212, 21%, 14%);
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2.activeContainer2 {
    display: block;
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.container2 {
    display: none;
    opacity: 0;
}

.miniBox {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    text-align: center;
    
    background: hsl(214, 17%, 18%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.con1-div1 {
    width: 80%;
}

.con1-div2 {
    width: 80%;
}

.con1-div3 {
    width: 80%;
    color: hsl(217, 12%, 63%);
}

.con1-div4 {
    width: 80%;
    color: hsl(216, 12%, 54%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.con1-div5 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button {
    height: 40px;
    width: 100%;
    cursor: pointer;
}