.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.bg-aboutDark {
  background-image: url(../../assets/images/image-about-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
}

.bg-aboutLight {
  background-image: url(../../assets/images/image-about-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 270px;
}

.arrowDiv {
  .firstArrow {
    width: 80px;
    height: 80px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    img {
      height: 25px;
    }
  }

  .firstArrow:hover {
    background-color: hsl(0, 0%, 27%);
  }

  .secondArrow {
    width: 80px;
    height: 80px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    img {
      height: 25px;
    }
  }

  .secondArrow:hover {
    background-color: hsl(0, 0%, 27%);
  }
}

.navbar {
  .navbar-head {
    font-size: 2.2rem;
  }

  .nav-items {
    .nav-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
    }

    .nav-item::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 2.5px;
      border-radius: 10px;

      background-color: #ffffff;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .nav-item:hover::after {
      opacity: 1;
    }
  }
}
