@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;

  width: 100%;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  float: left; 
  margin-top: 50px; 
  margin-left: 2rem; 
  font-size: 0.8rem;

  color: hsl(0, 36%, 70%);
}

.attribution a { 
  color: hsl(0, 6%, 24%);
}

.main--div {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 2.5fr 1.5fr;

  background: hsl(0, 93%, 68%);
  background: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;

  background-size: 1070px;
}

.content--div {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* align-items: center; */

  padding: 4rem 10rem;
}

.logo--div {
  margin-bottom: 8rem;
}

.heading--div {
  text-transform: uppercase;
  font-size: 4rem;

  letter-spacing: 15px;
  font-weight: 700;

  margin-bottom: 2rem;
  color: hsl(0, 6%, 24%);
}

.heading--div span {
  font-weight: 300;

  color:hsl(0, 36%, 70%);
}

.text--div {
  font-size: 1rem;
  font-weight: 400;

  width: 450px;
  line-height: 1.8rem;
  color: hsl(0, 36%, 70%);

  margin-bottom: 3rem;
}

.signup--div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.invalid-email .email--input {
  border-color: #ff2851; /* Apply red border when email is invalid */
}

input[type="email"]{
  display: inline-block;
  outline: none;
}

.error-msg{
  position: relative;
  color: #ff2851;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.invalid-email .error-msg {
  display: block; /* Display error message when email is invalid */
}

#no-error-msg {
  display: block;
}

.email--input {
  width: 390px;
  height: 55px;

  border: 2px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  background-color: transparent;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
}

.email--input::placeholder {
  margin-right: 1rem;
}

.invalid-email .warning {
  display: inline-block; /* Display warning icon when email is invalid */
}

.input--div > input {
  padding-left: 20px;
}

input:focus {
  outline: none;
}

::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
}

.warning {
  display: none;
  align-items: center;
  margin-left: -80px;
}

.no-warning {
  display: block;
}

.signup--div button {
  float: right;

  background: rgb(248,191,191);
  background: linear-gradient(135deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 100%);

  height: 55px;
  width: 110px;

  border-radius: 50px;
  border: none;

  margin-left: -50px;
}

.signup--div button:hover {
  background: rgb(248,191,191);
  background: linear-gradient(135deg, rgb(237, 207, 207) 0%, rgb(237, 178, 178) 100%);

  border: none;
}

.image--div {
  background: url(./images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image--div-2 {
  display: none;
  width: 100%;
}

@media (max-width: 1100px) {

  .main--div {
     width: auto;
      display: flex;
      flex-direction: column-reverse;

      background-size: cover;
  }

  .content--div {
      padding: 0;
      margin: 0;
  }

  .image--div {
      display: none;
  }

  .image--div-2 {
      display: block;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 3rem;
  }

  .logo--div {
      float: left;

      margin: 2rem 2rem;
  }

  .logo--div img {
      width: 100px;
  }
  
  .heading--div {
      font-size: 2.5rem;
      text-align: center;
      margin: 0;
  
      margin-bottom: 1rem;
      letter-spacing: 8px;
  }

  .text--div {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      text-align: center;
      font-size: 0.9rem;
  }

  .text--div-2 {
      width: 320px;
  }


  .signup--div {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 1rem;
  }

  .input--div {
      margin: 0;
      padding: 0;
  }

  .email--input {
      width: 300px;
      height: 55px;

      border-radius: 50px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1rem;

  }

  .signup--div button {
      height: 55px;
      width: 70px;
  
      margin-left: -80px;
  }

  .error-msg{
      margin-left: -4rem;
  }

  .attribution {
      text-align: center;
      margin: 2rem;
  }

}