@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-stack: 'League Spartan', sans-serif;
$primary-color: hsl(0, 0%, 100%);
$--dark-black: hsl(0, 0%, 0%);
$--dark-gray: hsl(0, 0%, 63%);
$--dark-gray-high: hsl(0, 0%, 27%);

body {
    width: 100%;
    height: auto;
    font: 100% $font-stack;
    color: $--dark-gray;
    background-color: $primary-color;
}