.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.main__div-nav {
    width: 840px;
    height: 534px;
    flex-shrink: 0;
    background: url(''), lightgray 50% / cover no-repeat;
}

.main__div-content {
    width: 601px;
    height: 534px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.33);
}
