@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background: rgb(18, 20, 23);
    color: hsl(0, 0%, 100%);
}

.main-div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1,
.container2 {
    position: absolute;

    background: hsl(212, 21%, 14%);
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 2.3rem;
    border-radius: 30px;
}

.container2.activeContainer2 {
    display: block;
    z-index: 5;
    opacity: 1;
    pointer-events: auto;

    display: grid;
    place-content: center;
    text-align: center;

    padding: 2rem;
}

.container2 {
    display: none;
    opacity: 0;
}

.miniBox {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    text-align: center;
    
    background: hsl(214, 17%, 18%);
    color: hsl(217, 12%, 63%);

    font-size: 1rem;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
}

.miniBox:hover {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.miniBox.activeMiniBox {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.con1-div1 {
    width: 100%;
    margin: 0 0 1.5rem 0;
}

.con1-div2 {
    width: 100%;
    margin: 0 0 1.5rem 0;
}

.con1-div3 {
    width: 100%;
    color: hsl(217, 12%, 63%);

    margin: 0 0 1.5rem 0;
}

.con1-div4 {
    width: 100%;
    color: hsl(216, 12%, 54%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.1rem;

    margin: 0 0 1.5rem 0;
}

.con1-div5 {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button {
    background: hsl(25, 97%, 53%);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;

    height: 40px;
    width: 100%;
    cursor: pointer;

    border-radius: 50px;
    border: none;
    color: hsl(0, 0%, 100%);

    display: grid;
    place-content: center;
}

.submit_button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.con2-div1 {
    margin: 0 0 1.5rem 0;
}

.con2-div2 {
    width: auto;
    margin: 0 0 1.5rem 0;

    display: grid;
    place-content: center;
}

.con2-div2-1 {
    background-color: hsl(214, 17%, 18%);
    color: hsl(25, 97%, 53%);
    height: 30px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.8rem;
    border-radius: 20px;
}

.con2-div3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 1.2rem 0;
}

.con2-div4 {
    color: hsl(216, 12%, 54%);
}